.container{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(139, 133, 133);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.fanoronier{
    width: 450px;
    height: 450px;
    overflow: hidden;
    background-image: url('../img/fanoronier.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
}

img{
    width: 40px;
    height: 40px;
}

#first{
    position: absolute;
    top: 1%;
    left: 0%;
}

#second{
    position: absolute;
    top: 1%;
    left: 43.8%;
}

#third{
    position: absolute;
    top: 1%;
    left: 88%;
}

#fourth{
    position: absolute;
    bottom: 1%;
    left: 0;
}

#fifth{
    position: absolute;
    bottom: 1%;
    left: 43.8%;
}

#sixth{
    position: absolute;
    bottom: 1%;
    left: 88%;
}

#center-left{
    position: absolute;
    top: 44%;
    left: 0%;
}

#center{
    position: absolute;
    top: 44%;
    left: 43.8%;
}

#center-right{
    position: absolute;
    top: 45%;
    left: 88%;
}

.choosen{
    scale: 1.2;
    border-radius: 30px;
}

/* Pos Start */
.pos{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    transition: scale .3s;
}